.carousel-container{
  position: absolute;
  width: 82rem;
  top: 80rem;
  left: calc(50% - 620px);
  display: flex;
}

.card {
  height: 28rem;
  width: 18rem;
  background-color: #89CFF0;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: 50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.col-3 {
  height: 20rem;
  justify-content: center;
  display: flex;
  align-items: center;
}


.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.title {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:1.6rem;
  background-color: ghostwhite;
  margin-top: 1rem;
  font-weight: 500;
  position: relative;
}
.bar {
  position: absolute;
  top: 6rem;
  left: 2rem;
  height: 6px;
  width: 12rem;
}

.emptybar {
  position: absolute;
  background-color: #3665ac;
  color:white;
  display:flex;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  color:white;
  line-height: 2rem;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
.card-content {
  position: absolute;
  top: 9rem;
  font-weight: 400;
  padding: 5%;
  letter-spacing: 1px;
  border: 2px solid #0039a6;
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 2rem;
}
