<h1> improve the typing skills </h1>
<section>
  <h2>For Beginners</h2>
  <p></p>
</section>

<section>
  <h2>For intermediates</h2>
  <p>
  </p>
</section>

<section>
Do you know?
</section>

<div class="carousel-container">
  <div class="card">
    <h3 class="title">40 WPM</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      The average typing speed is 40 words per minute, try to exceed it!
    </div>
  </div>
  <div class="card">
    <h3 class="title">Use all Fingers!!</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      Start to use all fingers. Type many notes & know suiting hand position!!
    </div>
  </div>
  <div class="card">
    <h3 class="title">Practise makes Perfect</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      You can take the test several times and see your typing speed improve over
      time.
    </div>
  </div>
  <div class="card">
    <h3 class="title">How to Improve Your Typing Speed</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      Take a deep breath, relax your fingers, and take it slow. You need to be focused and not annoyed when attempting the typing speed test. The best thing you can do to start typing faster is to type more. The more practice you get under your belt, the faster your ‘typing-fu’ will be. It’s all about developing muscle memory. Just make sure you are reinforcing good habits and not ones that will leave your fingers hurting after an intense typing session.
    </div>
  </div>
  <div class="card">
    <h3 class="title">Who Invented the Qwerty Keyboard?</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      The QWERTY keyboard was invented in 1868 by Christopher Latham Sholes. He also designed the first successful typewriter. The order of the keys was decided by listing the most common letter combinations and making sure that they were not placed next to each other. He did this to avoid problems that often happened when two neighboring keys were pressed consecutively. The QWERTY keyboard is used to this day and is the most widely used keyboard available. </div>
  </div>
  <div class="card">
    <h3 class="title">Word per Minute (WPM) Typing Test</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      What is the WPM typing test? There are different types of tests for typing. This one is a typing test that expresses your typing skills in words per minute. The more you practice typing, and the more you test your typing speed, the higher your WPM score will be. Some online typing tests and typing test games focus only on WPM typing. The disadvantage of the WPM typing test is that you are only learning how to type fast. WPM typing tests do not show your accuracy. </div>
</div>
