<div class="container">
    <div class="card">
      <h3 class="title"></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="card-content">Steve Woodmore achieved a rate of 164 wpm!!</div>
    </div>
    <div class="card">
      <h3 class="title"></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="card-content">Start to use all fingers !! </div>
    </div>
    <div class="card">
      <h3 class="title"></h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="card-content">Type many notes & know suiting hand position!! </div>
    </div>
    <div class="card">
        <h3 class="title"></h3>
        <div class="bar">
          <div class="emptybar"></div>
          <div class="filledbar"></div>
        </div>
        <div class="card-content">Gradually you will get to type words without looking!!</div>
      </div>

  </div>