<div class="carousel-container">
  <div class="card">
    <h3 class="title">40 WPM</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      The average typing speed is 40 words per minute, try to exceed it!
    </div>
  </div>
  <div class="card">
    <h3 class="title">Use all Fingers!!</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      Start to use all fingers. Type many notes & know suiting hand position!!
    </div>
  </div>
  <div class="card">
    <h3 class="title">Practise makes Perfect</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      You can take the test several times and see your typing speed improve over
      time.
    </div>
  </div>
  <div class="card">
    <h3 class="title">Be a Pro Typer</h3>
    <div class="bar">
      <div class="emptybar"></div>
      <div class="filledbar"></div>
    </div>
    <div class="card-content">
      Gradually you will get to type words without looking!!
    </div>
  </div>
</div>

<div class="col-3">
  <app-footer></app-footer>
</div>
