.cell-blink {
    animation: blinker 1.2s linear infinite;
    background-color: #b6d2ff;
    border-radius: 8px;
    height: 5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes blinker {  
    50% { opacity: 0.5; }
  }

  .cell-undone {
    color:black;
  }

  .cell-done {
    color: #3eb118;
  }

.text{
  font-size: 2.5rem;
  font-weight: 300;
}

.blink-text{
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 10%;
}