#cell-blink {
    animation: blinker 1.6s linear infinite;
    background-color: #ffc79a;
    border-radius: 8px;
    height: 5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes blinker {  
    50% { background-color: transparent; }
  }

  #cell-undone {
    color:black;
  }

  .cell-done {
    border-radius: 8px;
    height: 5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text{
  font-size: 2.5rem;
  font-weight: 300;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal 
}

.blink-text{
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 10%;
}