.cell-blink {
    animation: blinker 1.2s linear infinite;
    background-color: rgb(132, 238, 164);
    font-size: xx-large;
  }
  
  @keyframes blinker {  
    50% { opacity: 0.3; }
  }

  .cell-undone {
    color:black;
    font-size: xx-large;
  }

  .cell-done {
    color: #3eb118;
    font-size: xx-large;
  }