<div class="row">
    <div class="col1">
      <div class="type-text">
        <button class="change" id="change" type="button" (click)="reset()">Reset</button>
        <span> {{bestScore}} </span>
        <span style="display:block; height: 50px;"></span>
        <game-two-unit *ngFor="let val of gameTwoUnits; let i = index; trackBy: trackByItems" [value]="val"> </game-two-unit>
        <label for="timer-label">30 sec</label>
        <progress id="timer" max="30" value="30"></progress>
        <span style="display:block; height: 50px;"></span>
        <button class="change" id="change" type="button" (click)="changeTyper()">Change Text</button>        
      </div>
    </div>
    <div class="col2">
      <app-leaderboard></app-leaderboard>
    </div>
  </div>