#cell-blink {
    animation: blinker 1.6s linear infinite;
    background-color: #36a8f4ba;
    border-radius: 8px;
    height: 7rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes blinker {  
    50% { background-color: transparent; }
  }

  #cell-undone {
    color:black;
  }

  .cell-done {
    border-radius: 8px;
    height: 5rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text{
  font-size: 5rem;
  font-family: Merriweather,serif;
  text-rendering: optimizeLegibility;
}

.blink-text{
  font-size: 5.2rem;
  padding-bottom: 5px;
  font-family: Merriweather,serif;
  text-rendering: optimizeLegibility;;
}