#cell-blink {
    animation: blinker 1.6s linear infinite;
    background-color: #36f465ba;
    border-radius: 8px;
    height: 7rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(255, 255, 255);
  }
  
  @keyframes blinker {  
    50% { background-color: transparent; }
  }

  #cell-undone {
    color:rgb(255, 255, 255);
  }

  #cell-done {
    color:rgba(240, 238, 238, 0.46);
  }

.text{
  font-size: 5rem;
  font-family: Merriweather,serif;
  text-rendering: optimizeLegibility;
}

.blink-text{
  font-size: 5.2rem;
  padding-bottom: 5px;
  font-family: Merriweather,serif;
  text-rendering: optimizeLegibility;;
}