#cell-blink, #cell-wrong-blink  {
    animation: blinker 1.6s linear infinite;
    border-radius: 8px;
    height: 7rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
  }

  #cell-blink {
    background-color: #36f465ba;
  }
  #cell-wrong-blink {
    background-color: #e43420c2;
  }

  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  @keyframes blinker {  
    50% { background-color: transparent; }
  }

  #cell-undone {
    color:rgb(0, 0, 0);
  }

  #cell-done {
    color:rgba(102, 102, 102, 0.674);
  }

.text,.blink-text {
  font-family: Merriweather,serif;
  text-rendering: optimizeLegibility;
}

.text {
  font-size: 5rem;
}

.blink-text{
  font-size: 5.2rem;
  padding-bottom: 5px;
}

@media screen and (min-width: 320px) and (max-width: 539px) {

  #cell-blink, #cell-wrong-blink  {
    height: 5rem;
    width: 2.5rem;
  }

  .text {
    font-size: 3rem;
  }
  
  .blink-text{
    font-size: 3.2rem;
    padding-bottom: 5px;
  }

}