<div id="bg">
  <div class="title">
    <h1 class="headings">OFFLINE MULTIPLAYER TYPING GAME</h1>
  </div>

  <section id="multiplayerSection" *ngIf="this.showDashboard">

    <div class="cars">
      <img src="assets/cars6.jpg" alt="Static: Alan Partridge - would it be rude to stop listening to you?" loading="lazy">
    </div>
  </section>

  <div id="playArea" *ngIf="this.showDashboard">
    <div class="form__group">
      <input #playerCount type="number" class="form__input" name="playerCount" placeholder="Choose 2-8"
        pattern="[2-8]" min="2" max="8" value="2" required="" />
      <span class="validity"></span>
      <label for="number" class="form__label">No of players</label>
    </div>
    <button class="playGame" [disabled]="!playerCount.value" (click)="onSubmit()">
      Let's Play
    </button>
  </div>

  <!-- Start of typer section -->
  <div *ngIf="showTyper">
    <section class="col1">
      <div class="showPlayer"><b><i>PLAYER {{this.showPlayer? this.showPlayer: 1}}</i></b></div>
      <div class="widgets">
        <div class="dashboard">
          <div class="progress-bg timer">
            <span id="progress-label">{{ timer }}<span id="progress-label-sub">sec</span></span>
          </div>

          <mat-progress-spinner class="mat-spinner" [color]="progressColor" [diameter]="170" [strokeWidth]="14"
            [mode]="'determinate'" [value]="progressLabel">
          </mat-progress-spinner>

          <div class="progress-bg wpm">
            <span id="progress-label">{{ wpmLabel }}<span id="progress-label-sub">wpm</span></span>
          </div>

          <div class="accuracy-bg">
            <span id="accuracy-label">{{ accuracyVal }}<span id="accuracy-label-sub-percent">%</span>
            </span>
            <div id="accuracy-label-sub">accuracy</div>

            <div class="accuracy-bg-radials start"><b>____</b></div>
            <div class="accuracy-bg-radials middle"><b>___</b></div>
            <div class="accuracy-bg-radials end"><b>____</b></div>
          </div>

          <mat-progress-spinner class="accuracy-mat-spinner" [color]="accuracyColor" [diameter]="170" [strokeWidth]="14"
            [mode]="'determinate'" [value]="accuracyVal / 2">
          </mat-progress-spinner>

          <div id="spacer"></div>
        </div>
      </div>

      <div class="widgets">
        <app-typer [data]="typerText" (result)="typerFinish($event)" (wordUpdate)="wordUpdate()"
          (updateVal)="typerUpdate($event)" [typerActive]="isTyperEnabled"></app-typer>
      </div>

    </section>
  </div>
  <!-- End of typer section -->

  <!-- Start of results dashboard  -->
  <div class="resultsTable" *ngIf="this.showDashboard && results">
    <h1 class="headings">LAST GAME RESULTS</h1>

    <table>
      <thead>
        <tr>
          <th>PLAYER</th>
          <th>WPM</th>
          <th>ACCURACY</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results">
          <th>{{ result.username }}</th>
          <td>{{ result.wpm }}</td>
          <td>{{ result.accuracy }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- End of results dashboard  -->
</div>
<!-- End of main div -->