$blue: #3498db;
$size-small: 2rem;
$percentage: 100%;
$base: #5bb9b8;
$rain: #2c3845;
$poppy: #bd2a4e;
$center: center;
$block: block;
$ten-pixels: 10px;
$absolute-position: absolute;

#bg {
  width: $percentage;
  height: calc(20rem + 100vh);
  background: #000428;
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  background: linear-gradient(to right, #004e92, #000428);
  justify-content: $center;
  align-items: $center;
  color: #fff;
}

.title {
  text-align: $center;
  padding-top: 5rem;
}

.showPlayer {
  text-align: $center;
  font-size: 2rem;
  letter-spacing: 3px;
  color: yellow;
  padding-top: 2.5rem;
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    color: transparent;
  }
}

.headings {
  font-size: calc(16px + 1vw);
  font-family: sans-serif;
  padding-bottom: 3rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.title h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding-bottom: 3rem;
  font-weight: 500;
  color: #4a4a56;
}

#playArea {
  display: flex;
  justify-content: center;
}

#multiplayerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
 // max-width: 7rem;
}

.form__label {
  font-family: "Arial, Helvetica, sans-serif";
  font-size: 1.5rem;
  text-align: $center;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
  display: block;
  border-radius: 5px;
  padding: 20px 50px 20px;
  background-color: white;
  width: 100%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

input:invalid + span:after {
  content: "✖";
  color: red;
}

input:valid + span:after {
  content: "✓";
  color: green;

}

input:invalid + span:after, input:valid + span:after {
  position: relative;
  font-size: 1.7rem;
  left: 56%;
  background-color: white;
}

.resultsTable {
  position: $absolute-position;
  padding-top: 2rem;
  padding-bottom: 2rem;
  top: 24%;
  font-weight: 400;
  width: 29rem;
  height: auto;
  animation: blinker 5s linear infinite;
  background-color: transparent;
  font-size: 2.2rem;
  color: aqua;
  left: 34%;
  background: transparent;

  h1 {
    font-size: 24px;
    text-align: $center;
    font: 500 32px sans-serif;
  }
  tr {
    padding-bottom: $ten-pixels;
  }

  tbody {
    font-size: 1.3rem;
    border-bottom: 1px solid darken($rain, 6%);
    border-left: 1px solid darken($rain, 6%);
    border-right: 1px solid darken($rain, 6%);
    font-weight: 500;
  }
  td {
    padding: 7px 7px 0;
    text-align: $center;
    border-bottom: 1px solid darken($rain, 6%);
    border-left: 1px solid darken($rain, 6%);
    border-right: 1px solid darken($rain, 6%);
    &:before {
      content: attr(data-title);
      color: lighten($rain, 35%);
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 500;
      padding-right: $ten-pixels;
      display: $block;
    }
  }
  table {
    width: $percentage;
  }

  th {
    text-align: start;
    padding-right: $ten-pixels;
    font-weight: 700;
    border: 1px solid darken($rain, 6%);
  }
  thead {
    font-size: 1.3rem;
    th {
      background-color: transparent;
      padding-right: $ten-pixels;
      color: #fff;
      border: 1px solid darken($rain, 6%);
    }
  }
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.cars img {
  padding-bottom: 5vh;
  height: 50vh;
  width: 100%;
 // max-width: 40rem;
}

.mute_interactive {
  width: 183px;
  height: 66px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(21, 233, 169);
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.mute_interactive:focus {
  background-color: rgb(230, 233, 21);
  outline: rgb(0, 255, 106) auto 5px;
}

.form__group {
  margin-left:3rem;
  margin-right: 8rem;
}

/***************** End of Multiplayer opening page **************************/

.col1 {
  width: $percentage;
  height: $percentage;
  float: left;
}

.widgets {
  display: flex;
  margin-top: 10rem;
  flex-direction: row;
  align-items: $center;
  margin-bottom: 4rem;
  justify-content: $center;
}

.progress-bg {
  display: flex;
  flex-direction: column;
  text-align: $center;
  justify-content: $center;
  position: $absolute-position;
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 50%;
  background-color: rgb(239, 242, 239);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.mat-spinner {
  position: $absolute-position;
  top: 12px;
  left: 48px;
}

.timer {
  top: 23px;
  left: 56px;
}

.wpm {
  top: 20px;
  left: 250px;
}

#progress-label {
  padding-top: 18px;
  padding-left: 11px;
  font-size: 4rem;
  color: rgb(14, 70, 255);
}

#progress-label-sub {
  font-size: 1rem;
  color: black;
}

.accuracy-bg {
  display: flex;
  flex-direction: column;
  text-align: $center;
  justify-content: $center;
  position: $absolute-position;
  left: 433px;
  top: 8px;
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#accuracy-label {
  padding-top: 18px;
  padding-left: 11px;
  font-size: 3.2rem;
  color: rgb(14, 70, 255);
}

.accuracy-bg-radials {
  position: $absolute-position;
}

#accuracy-label-sub-percent {
  font-size: 1.8rem;
  color: black;
}

#accuracy-label-sub {
  padding-top: $ten-pixels;
  font-size: 1rem;
  color: black;
}

.accuracy-mat-spinner {
  position: $absolute-position;
  top: 12px;
  left: 435px;
  transform: rotate(0.75turn);
}

.start {
  left: 0;
  top: 76px;
  color: black;
  transform: rotate(1deg);
}

.end {
  left: 152px;
  top: 76px;
  color: black;
  transform: rotate(-1deg);
}

#spacer {
  height: 12rem;
}

.dashboard {
  display: flex;
  position: $absolute-position;
  margin-top: 1rem;
  left: 35rem;
  height: 12rem;
  width: 40rem;
  border-radius: 9rem;
}

.circleStyle {
  height: 10rem;
}

/* !!!!!!!!!!!!! Start of Card section !!!!!!!!!!!!!!! */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: $center;
  margin-top: 4rem;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
/* !!!!!!!!!!!!! End of Card section !!!!!!!!!!!!!!! */

.playGame {
  width: 183px;
  height: 66px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(152, 233, 21);
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.playGame:hover {
  color: black;
  background: aqua;
  border: 2px solid black;
  border-radius: 12px;
  box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black,
    5px -5px 0 black;
  transition: 500ms ease-in-out;
}

.playGame:focus {
  outline: none;
}
/********* End of Button section ************/

/******************************************* Desktop screen small to large ************************************************/
@media only screen and (min-width: 1780px) {
  .title {
    text-align: $center;
    padding-top: 4rem;

    h1 {
      padding-bottom: 3rem;
    }
  }
  .form__input {
    padding: 20px 36px 20px;
  }

  .form__group {
    margin-left:2rem;
    margin-right: 7rem;
  }

  input:invalid + span:after, input:valid + span:after {
    left: 108%;
  }


  .cars img {
    padding-bottom: 5vh;
    height: 50vh;
    width: 60vw;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 964px) {
  .title h1 {
    font-size: $size-small;
  }
  .circleStyle {
    height: 13rem;
  }

  .globalVolume, .form__group, .playGame  {
    margin-bottom: 1rem;
  }
  
  #playArea {
    display: block;
    margin-top: 6rem;
    margin-left: 15rem;
  }
  
  .mute_interactive, .form__input, .playGame, .form__label, input:invalid + span:after, input:valid + span:after{
    font-size: 2rem;
  }
  .playGame, .mute_interactive {
    width: 18rem;
   height: 5rem;
  }

  
  .showPlayer {
    font-size: 2.5rem;
  }
  
  .form__input {
    width:40%;
    margin-bottom: 10px;
  }
  
  .widgets{
    margin-top: 3rem;
  }

  .playGame {
    margin: 0;
  }

  .headings {
    font-size:1.5rem;
  }

  .item1 {
    padding-left: $size-small;

    .accuracy-text {
      font-size: $size-small;
      margin-bottom: $size-small;
    }

    .accuracy {
      height: $size-small;
      max-height: $size-small;
      font-size: 20px;
    }
  }
  .widgets {
    margin-bottom: 3rem;
  }
  .card-container {
    margin-top: 5rem;
  }

  .form__input {
    padding: 15px 30px 15px;
  }

  .typerBtn {
    padding: 1.5rem 2.8rem 1.5rem 2.8rem;
    font-size: $size-small;
  }

  #playArea {
    margin-top: 3rem;
    display: block;
  }

  .form__input {
    padding: 24px 40px 24px;
  }
  input:invalid + span:after, input:valid + span:after {
    left: 40%;
  }
  .form__group {
    margin-left:0;
    margin-right: 0;
  }
  .widgets{
    margin-top: 10rem;
  }

  .dashboard {
    left: 5rem;
    top: 20rem;
  }

}

@media screen and (min-width: 965px) and (max-width: 1779px) {

  .headings {
    font-size:2rem;
  }

  .container .viewport {
    height: 9rem;
    width: 50rem;
  }

  .form__input {
    padding: 18px 34px 18px;
  }

  .dashboard {
    left: 19rem;
    margin-top: 0px;
  }

  .showPlayer{
    padding-top: 2rem;
  }

  .widgets {
    margin-top: 9rem;
  }
  .cars img {
    margin-bottom: 2vh;
    height: 47vh;
    width: 47vw;
    padding-bottom: 3vh;
  }
  .title {
    text-align: center;
    padding-top: 3.5rem;
  }
  input:invalid + span:after {
    top: 85.5%;
    left: 52%;
  }

  input:valid + span:after {
    top: 85.5%;
    left: 52%;
  }
  #description {
    font-size: 20px;
    margin-top: 8rem;
  }

}

@media screen and (min-width: 320px) and (max-width: 539px) {

.cars {
    padding-bottom: 5vh;
    height: 35vh;
    width: 90vw;
}
#bg {
  height: calc(15rem + 100vh);
}
.dashboard {
  left: 0rem;
  top: 20rem;
  width: 23rem;
}

.globalVolume, .form__group, .playGame  {
  margin-bottom: 1rem;
}

#playArea {
  display: block;
  margin-top: 9rem;
  margin-left: 6rem;
}

.mute_interactive, .form__input, .playGame, .form__label, input:invalid + span:after, input:valid + span:after{
  font-size: 1rem;
}

.showPlayer {
  font-size: 1.5rem;
  padding-top: 0px;
}

.form__input {
  width:27%;
  margin-bottom: 10px;
}

.widgets{
  margin-top: 8rem;
}

.form__group {
  margin-left:0;
  margin-right: 0;
}

.mat-spinner {
  display:none;
}

.timer {
  left: 5%;
}

.progress-bg {
  height: 6.5rem;
  width: 6.5rem;
}

.wpm {
  left: 35%;
}

//accuracy
.accuracy-mat-spinner {
  display: none;
}

.accuracy-bg {
  left: 65%;
  top: 15px;
  height: 7rem;
  width: 7rem;
}

.start {
 display: none;
}
.middle {
  display: none;
}
.end {
  display: none;
}

#progress-label {
  font-size: 3rem;
  color: #fa2ba4;
}

#progress-label-sub {
  font-size: 1rem;
  color: black;
}

#accuracy-label {
  font-size: 2.5rem;
  padding-top: 12px;
  color: #fa2ba4;
}

#accuracy-label-sub-percent {
  font-size: 1rem;
  color: black;
}

#accuracy-label-sub {
  padding-top: 5px;
  font-weight: 500;
  color: black;
}

}
