<div id="bg">
  <section class="col1">
    <div class="widgets">
      <div class="circleStyle">
        <circle-progress
          [percent]="100 - timerPercent"
          [maxPercent]="200"
          [showUnits]="false"
          [showZeroOuterStroke]="false"
          [radius]="50"
          [title]="timerLabel"
          [titleFormat]="formatTitle"
          [outerStrokeWidth]="10"
          [outerStrokeColor]="customColor"
          [startFromZero]="false"
          [renderOnClick]="false"
          [animation]="true"
          [animationDuration]="300"
          [lazy]="false"
          [showBackground]="true"
        ></circle-progress>
      </div>

      <svg
        version="1.1"
        width="250"
        height="200"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="120" cy="100" r="70" fill="#eee" />
        <text x="120" y="120" font-size="60" text-anchor="middle" fill="black">
          {{ wpmLabel }}
        </text>
        <text x="120" y="145" font-size="20" text-anchor="middle" fill="black">
          wpm
        </text>
      </svg>

      <div class="item1">
        <div class="accuracy-text">ACCURACY</div>
        <div id="accuracy-container">
          <div class="accuracy" [ngStyle]="{ width: accuracyVal + '%' }">
            {{ accuracyVal }}%
          </div>
        </div>
      </div>
    </div>

    <div class="widgets">
      <app-typer
        [data]="typerText"
        (result)="typerFinish($event)"
        (wordUpdate)="wordUpdate()"
        (updateVal)="typerUpdate($event)"
        [typerActive]="isTyperEnabled"
      ></app-typer>
    </div>

    <div class="card-container">
      <button
        id="reset"
        class="typerBtn"
        type="button"
        [disabled]="!timerFinishIndicator"
        (click)="playAgain()"
      >
        Play Again
      </button>
      <button
        id="reset"
        class="typerBtn"
        type="button"
        [disabled]="!timerFinishIndicator"
        (click)="changeTyper()"
      >
        Change Text
      </button>
    </div>

    <div clas="svg-icon-area">
      <svg class="icon icon-angle-down">
        <use xlink:href="#icon-angle-down"></use>
      </svg>
    </div>
  </section>

  <section class="dashboardSection">
    <div class="chip" >
       <ul *ngFor="let players in results">
         <li><img src="img_avatar.jpg" alt="Person" width="96" height="96" /></li>
         <li>{{ players.username }}</li>
        <li>{{ players.wpm }}</li>
        <li>{{ players.accuracy }}</li>
      </ul>
      <span class="closebtn" onclick="this.parentElement.style.display='none'"
        >&times;</span
      >
    </div>
  </section>
</div>
