<div class="bg">
  <div class="textFont">Practice Match</div>
  <div class="textFont">Accuracy</div>
  <section id="content">
    <section id="widgets">
      <div id="accuracy">
        <div class="accuracy" [ngStyle]="{ width: accuracyVal + '%' }">
          {{ accuracyVal }}%
        </div>
      </div>
    </section>
  
    <section id="typer">
      <app-typer [data]="typerText" (result)="typerFinish($event)" (updateVal)="typerUpdate($event)"></app-typer>
    </section>
  </section>

 

</div>