.bg {
  width: 100%;
  height: calc(10rem + 100vh);
  background-image: url("../../../assets/practice-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(16, 127, 192);
}

.item1 {
  display: block;
  justify-content: center;
}

#accuracy-container {
  margin-left: 41%;
  margin-top: 1%;
  background-color: rgb(226, 226, 226);
  width: 20rem;
  height: 3rem;
  border-radius: 8px;
}

.accuracy {
  background: linear-gradient(to right, rgb(91, 166, 236), rgb(22, 120, 200));
  width: 20rem;
  color: rgb(255, 255, 255);
  padding-left: 2%;
  padding-bottom: 1%;
  padding-top: 5%;
  text-align: start;
  font-size: 200;
  font-size: 2rem;
  border-radius: 8px;
  height: 2rem;
}

#typer {
  display: flex;
  flex-direction: row;
  margin-top: 7%;
  justify-content: center;
}

.text {
  text-align: center;
  padding-top: 6rem;
  padding-right: 1.5rem;
  color: cornsilk;
  font-family: fantasy;
  font-size: 2rem;
}
