#home
{
    height:30rem;
    padding-right:25rem;
    padding-top:5rem;
    padding-left:25rem;
    width:auto;
    color:black;

    mat-form-field
    {
        display:block;
        background: linear-gradient(to left, rgb(78, 147, 170),rgb(107, 197, 107));
    }
    .loginbtn {
        display:block;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}