.container .viewport {
  height: 9rem;
  width: 75rem;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.886);
 // outline: 8px ridge rgba(68, 202, 255, 0.6);
  border-radius: 2rem;
}

.container .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40%;
  padding-right: 60%;
}

.container .typer {
  min-width: 25px;
}


@media screen and (min-width: 968px) and (max-width: 1300px) {
  .container .viewport {
    height: 8rem;
    width: 90vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .container .viewport {
    height: 7rem;
    width: 90vw;
  }
}

/* For Tablets */
@media screen and (min-width: 641px) and (max-width: 967px) {
  .container .viewport {
    height: 8rem;
    width: 90vw;
  }
}

