.container .viewport {
  height: 9rem;
  width: 75rem;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 0.886);
 // outline: 8px ridge rgba(68, 202, 255, 0.6);
  border-radius: 2rem;
}

.container .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40%;
  padding-right: 60%;
}

.container .typer {
  min-width: 25px;
}

/* Tablet screen small to large */
@media screen and (min-width: 540px) and (max-width: 834px) {
  .container .viewport {
    height: 8rem;
    width: 42rem;
  }
}
