<div class="section-body" [style.background]="!hasGameBegun? 'linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%)' 
: 'linear-gradient(to top, #45BCF7, #45BCF7, #FFFFFF)'">
  <div class="title">
    <h2>TYPING TEST ONLINE</h2>
    <h1>Check your typing speed now</h1>
  </div>

  <div class="widgets">
    <div class="dashboard" *ngIf="hasGameBegun; else elseBlock">
      
      <div class="progress-bg timer">
        <span id="progress-label">{{ timer }}<span id="progress-label-sub">sec</span></span>
      </div>

      <mat-progress-spinner class="mat-spinner" [color]="progressColor" [diameter]="170" [strokeWidth]="14"
        [mode]="'determinate'" [value]="progressLabel">
      </mat-progress-spinner>

      <div class="progress-bg wpm">
        <span id="progress-label">{{ wpmLabel }}<span id="progress-label-sub">wpm</span></span>
      </div>

      <div class="accuracy-bg">
        <span id="accuracy-label">{{this.accuracyVal}}<span id="accuracy-label-sub-percent">%</span>
        </span>
        <div id="accuracy-label-sub">accuracy</div>

        <div class = "accuracy-bg-radials start"><b>____</b></div>
        <div class = "accuracy-bg-radials middle"><b>___</b></div>
        <div class = "accuracy-bg-radials end"><b>____</b></div>
      </div>

      <mat-progress-spinner class="accuracy-mat-spinner" [color]="accuracyColor" [diameter]="170" [strokeWidth]="14"
        [mode]="'determinate'" [value]="accuracyVal/2">
      </mat-progress-spinner>
    </div>
  </div>

  <div class="widgets" *ngIf="hasGameBegun">
    <app-typer [data]="typerText" [timeUp]="timerFinishIndicator" (result)="typerFinish($event)"
      (wordUpdate)="wordUpdate()" (updateVal)="typerUpdate($event)"></app-typer>
  </div>
  

  <div class="section-body-btn" *ngIf="timerFinishIndicator">
    <button id="replay" class="typerBtn" type="button" [disabled]="!timerFinishIndicator" (click)="replay()">
      Show Replay 
    </button>
    <button id="reset" class="typerBtn" type="button" [disabled]="!timerFinishIndicator" (click)="playAgain()">
      Play Again
    </button>
    <button id="reset" class="typerBtn" type="button" [disabled]="!timerFinishIndicator" (click)="changeTyper()">
      Change Text
    </button>
  </div>

  <ng-template #elseBlock>
    <div id="startBtn-div">
      <button class="startBtn" (click)="gameStart()"><span>Start </span></button>
    </div>
  </ng-template>
</div>


<div class="col-2">
  <app-carousel></app-carousel>
</div>
