$blue: #3498db;
$size-small: 2rem;

.section-body {
  width: 100%;
  height: 100rem;
  float: left;
  background-color: rgba(44, 162, 213, 0.91);
  // background: radial-gradient(
  //   at 180% 90%,
  //   #0e3655 35%,
  //   rgba(12, 141, 180, 0) 65%
  // );
}

.title {
  margin-top: 6rem;
}


.title h1 {
  font-size: 4.5rem;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.title h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding-bottom: 3rem;
  font-weight: 500;
  color: #4a4a56;
}

.widgets {
  display: flex;
  margin-top: 10rem;
  flex-direction: row;
  align-items: center;
  margin-bottom: $size-small;
  justify-content: center;
}

.col-2 {
  width: 100%;
  text-align: center;
  font-size: $size-small;
  float: right;
  background: whitesmoke;
  border-radius: 20px;
}

.item1 {
  padding-left: 3rem;
}

#accuracy-container {
  background-color: rgb(226, 226, 226);
  width: 10rem;
  border-radius: 8px;
}

.circleStyle {
  height: 10rem;
}

.section-body-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
}

.startBtn {
  border-radius: 14px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
  cursor: pointer;
  animation: easeIn 1.6s linear infinite;
}

.startBtn span {
  animation: blinker 1.6s linear infinite;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

@keyframes easeIn {
  25% {
    padding-left: 45px
  }
}

#startBtn-div {
  margin-left: 35%;
}

.dashboard {
  display: flex;
  position: absolute;
  margin-top: 1rem;
  left: 35rem;
  height: 12rem;
  width: 40rem;
  // background-color: rgba(46, 46, 46, 0.521);
  border-radius: 9rem;
}

.mat-spinner {
  position: absolute;
  top: 12px;
  left: 48px;
}

.progress-bg {
  top: 20px;
  left: 3rem;
}

svg#clouds {
  position: absolute;
  bottom: $size-small;
  left: 0px;
  z-index: -1;
  width: 110rem;
}

.typerBtn {
  border-color: #3498db;
  font-size: 1rem;
  margin-bottom: $size-small;
  color: #fff;
  border-radius: 12px;
  padding: 1.5rem 4rem 1.5rem 4rem;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  transition: all 150ms ease-in-out;
  margin-right: $size-small;

  &:hover {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
    color: black;
  }

  &:disabled {
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px #7b8389;
    color: black;
  }
}

.progress-bg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  height: 9.5rem;
  width: 9.5rem;
  border-radius: 50%;
  background-color: rgb(239, 242, 239);
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.timer {
  top: 23px;
  left: 56px;
}

.wpm {
  top: 20px;
  left: 250px;
}

//accuracy
.accuracy-mat-spinner {
  position: absolute;
  top: 12px;
  left: 435px;
  transform: rotate(0.75turn);
}

.accuracy-bg {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  left: 441px;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
  //box-shadow:  1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#progress-label {
  padding-top: 18px;
  padding-left: 11px;
  font-size: 4rem;
  color: rgb(14, 70, 255);
}

#progress-label-sub {
  font-size: 1rem;
}

#accuracy-label {
  padding-top: 18px;
  padding-left: 11px;
  font-size: 4rem;
  color: rgb(14, 70, 255);
}

#accuracy-label-sub-percent {
  font-size: 2rem;
}

#accuracy-label-sub {
  padding-top: 10px;
  font-size: 1rem;
}

#spacer {
  height: 12rem;
}


/* Desktop screen */
@media only screen and (min-width: 1780px) {
  .title {
    text-align: center;
    padding-top: 4rem;

    h1 {
      padding-bottom: 3rem;
    }
  }

  .mat-spinner {
    position: absolute;
    left: 30px;
  }

  .progress-bg {
    left: 570px;
  }

  .dashboard {
    margin-top: 2rem;
    left: 600px;
    height: 13rem;
    width: 45rem;
  }

  #progress-label {
    padding-top: 18px;
    padding-left: 11px;
    font-size: 4rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
  }

  #progress-label-sub {
    font-size: 1rem;
  }

  .timer {
    left: 40px;
  }

  .wpm {
    left: 260px;
  }

  //accuracy
  .accuracy-mat-spinner {
    position: absolute;
    left: 490px;
    transform: rotate(0.75turn);
  }

  .accuracy-bg {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 487px;
    top: 8px;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  #accuracy-label {
    padding-top: 50px;
    padding-left: 11px;
    font-size: 3.8rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
  }

  #accuracy-label-sub-percent {
    font-size: 2rem;
  }

  #accuracy-label-sub {
    padding-top: 10px;
    font-size: 1rem;
  }

  #spacer {
    height: 12rem;
  }
}

/* For Tablets */

@media screen and (min-width: 540px) and (max-width: 834px) {
  .title h1 {
    font-size: $size-small;
  }

  .circleStyle {
    height: 13rem;
  }

  .item1 {
    padding-left: $size-small;

    .accuracy-text {
      font-size: $size-small;
      margin-bottom: $size-small;
    }

    .accuracy {
      height: $size-small;
      max-height: $size-small;
      font-size: 20px;
    }
  }

  .widgets {
    margin-bottom: 3rem;
  }

  .card-container {
    margin-top: 5rem;
  }

  .typerBtn {
    padding: 1.5rem 2.8rem 1.5rem 2.8rem;
    font-size: $size-small;
  }
}