  $blue: #3498db;
  $size-small: 2rem;
  $total-arrows: 3;
  $arrow-line-length: 50px;
  $arrow-line-width: 4px;

  // arrow animtion + choose direction
  @mixin arrow-transitions($rot: 0deg) {
    transform: translate(-50%, -50%) rotateZ($rot);
  }

  .section-body {
    width: 100%;
    height: calc(10rem + 100vh);
    float: left;
  }

  .title {
    margin-top: 3rem;
  }

  .title h2 {
    font-size: calc(30px + 1vw);
    font-weight: 400;
    letter-spacing: 0.5px;
    text-align: center;
  }

  .title h1 {
    text-transform: uppercase;
    font-size: calc(16px + 0.7vw);
    text-align: center;
    letter-spacing: 0.1rem;
    padding-bottom: 3rem;
    font-weight: 500;
    color: #4a4a56;
  }

  .widgets {
    display: flex;
    margin-top: rem;
    flex-direction: row;
    align-items: center;
    margin-bottom: $size-small;
    justify-content: center;
  }

  .col-2 {
    width: 100%;
    text-align: center;
    font-size: $size-small;
    float: right;
    background-color: rgb(226, 218, 218);
    border-radius: 10px;
  }

  .item1 {
    padding-left: 3rem;
  }

  #accuracy-container {
    background-color: rgb(226, 226, 226);
    width: 10rem;
    border-radius: 8px;
  }

  .circleStyle {
    height: 10rem;
  }

  .section-body-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }

  .startBtn {
    border-radius: 14px;
    background-color: #f4511e;
    border: none;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top:45vh;
    left: 60vw;
    font-size: 28px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    animation: easeIn 1.6s linear infinite;
  }

  .startBtn span {
    animation: blinker 1.6s linear infinite;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  @keyframes easeIn {
    25% {
      padding-left: 40px;
    }
  }

  .dashboard {
    display: flex;
    position: relative;
    margin-top: 1rem;
    height: 12rem;
    width: 40rem;
    border-radius: 9rem;
  }

  .typerBtn {
    //border-color: #3498db;
    font-size: 1.3rem;
    margin-bottom: $size-small;
    border:none;
    box-shadow: 0px -5px 10px 0px gray;
    color: black;
    border-radius: 12px;
    padding: 1rem 2rem 1rem 2rem;
    background-color: #11e49de7 ;
    transition: all 150ms ease-in-out;
    margin-right: $size-small;

    &:hover {
      color: black;
      background-color: #11c47fe7;
    }

    &:disabled {
      box-shadow: none;
      color: white;
      background-color: transparent;
    // background-color: rgba(179, 177, 177, 0.829);
    }
  }

  .mat-spinner {
    position: absolute;
    top: 12px;
    left: 48px;
  }

  .progress-bg {
    top: 20px;
    left: 3rem;
  }

  .progress-bg {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    height: 9.5rem;
    width: 9.5rem;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .timer {
    top: 23px;
    left: 56px;
  }

  .wpm {
    top: 20px;
    left: 250px;
  }

  //accuracy
  .accuracy-mat-spinner {
    position: absolute;
    top: 12px;
    left: 435px;
    transform: rotate(0.75turn);
  }

  .accuracy-bg {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 432px;
    height: 11rem;
    width: 11rem;
    border-radius: 50%;
    background-color: rgb(246, 246, 246);
    //box-shadow:  1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

  .accuracy-bg-radials {
    position: absolute;
  }

  .start {
    left: 0;
    top: 75px;
    transform: rotate(1deg);
  }
  .middle {
    left: 82px;
    top: 1px;
    transform: rotate(90deg);
  }
  .end {
    left: 150px;
    top: 75px;
    transform: rotate(-1deg);
  }

  #progress-label {
    padding-top: 18px;
    padding-left: 11px;
    font-weight: 700;
    font-size: 4rem;
    color: rgb(3, 3, 3);
  }

  #progress-label-sub {
    font-size: 1rem;
  }

  #accuracy-label {
    padding-top: 24px;
    padding-left: 11px;
    font-size: 4rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
  }

  #accuracy-label-sub-percent {
    font-size: 2rem;
  }

  #accuracy-label-sub {
    padding-top: 10px;
    font-size: 1rem;
  }


  /* Desktop screen */
  @media only screen and (min-width: 1780px) {
    .title {
      text-align: center;
      padding-top: 4rem;

      h2 {
        padding-bottom: 3rem;
      }
    }

    .mat-spinner {
      position: absolute;
      left: 30px;
    }

    .progress-bg {
      left: 570px;
    }

    .dashboard {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 13rem;
      width: 45rem;
    }

    #progress-label {
      padding-top: 18px;
      padding-left: 11px;
      font-size: 4rem;
      font-weight: 800;
      color: rgb(0, 0, 0);
    }

    #progress-label-sub {
      font-size: 1rem;
    }

    .timer {
      left: 40px;
    }

    .wpm {
      left: 260px;
    }

    //accuracy
    .accuracy-mat-spinner {
      position: absolute;
      left: 490px;
      // bottom:-5;
      transform: rotate(0.75turn);
    }

    .accuracy-bg-radials {
      position: absolute;
    }

    .start {
      left: 0;
      top: 76px;
      transform: rotate(1deg);
    }
    .middle {
      left: 82px;
      top: 1px;
      transform: rotate(90deg);
    }
    .end {
      left: 152px;
      top: 76px;
      transform: rotate(-1deg);
    }

    .accuracy-bg {
      display: flex;
      text-align: center;
      justify-content: center;
      position: absolute;
      left: 487px;
      top: 8px;
      height: 11rem;
      width: 11rem;
      border-radius: 50%;
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    #accuracy-label {
      padding-top: 37px;
      padding-left: 11px;
      font-size: 3.8rem;
      font-weight: 800;
      color: rgb(0, 0, 0);
    }

    #spacer {
      height: 12rem;
    }
  }

  /* For Tablets */

  @media screen and (min-width: 540px) and (max-width: 964px) {
    .title h2 {
      font-size: $size-small;
    }

    .circleStyle {
      height: 13rem;
    }

    .startBtn {
      font-size: 18px;
      width:120px;
    }

    .item1 {
      padding-left: $size-small;

      .accuracy-text {
        font-size: $size-small;
        margin-bottom: $size-small;
      }

      .accuracy {
        height: $size-small;
        max-height: $size-small;
        font-size: 20px;
      }
    }

    .widgets {
      margin-bottom: 3rem;
    }

    .card-container {
      margin-top: 5rem;
    }

    .typerBtn {
      padding: 1.5rem 2.8rem 1.5rem 2.8rem;
      font-size: $size-small;
    }
  }

  @media screen and (min-width: 965px) and (max-width: 1779px) {
    .startBtn {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 539px) {

    .startBtn {
      font-size: 18px;
      width: 100px;
    }

    .mat-spinner {
      display:none;
    }

    .timer {
      left: 5%;
    }

    .progress-bg {
      height: 6.5rem;
      width: 6.5rem;
    }
  
    .wpm {
      left: 35%;
    }
  
    //accuracy
    .accuracy-mat-spinner {
      display: none;
    }
  
    .accuracy-bg {
      left: 65%;
      top: 15px;
      height: 7rem;
      width: 7rem;
    }
  
    .start {
     display: none;
    }
    .middle {
      display: none;
    }
    .end {
      display: none;
    }
  
    #progress-label {
      font-size: 3rem;
      color: #0000E0;
    }
  
    #progress-label-sub {
      font-size: 1rem;
      color: black;
    }
  
    #accuracy-label {
      font-size: 2.5rem;
      padding-top: 12px;
      color: #0000E0;
    }
  
    #accuracy-label-sub-percent {
      font-size: 1rem;
      color: black;
    }
  
    #accuracy-label-sub {
      padding-top: 5px;
      font-weight: 500;
      color: black;
    }

  }
