.bg {
    height: 100%;
    display: inline-block;
    background-color: white;
}

.text {
    color: black;
    font-size: large;
    font-weight: bold;
}

.result-heading {
 font-size: 25px;
 font-weight: 500;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: black;
 text-align: center;
}

.result-dialog {
    background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);

}
.game-title {
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#spacer{
    margin-top: 2rem;
}

#submit-btn{
    margin-top: 8%;
    margin-left: 37%;
}

