// .result-dialog {
//     background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
// }

#container {
    display: flex;
}

#col1 {
    width: 60%;
}

#col2 {
    width: 40%;
}

.result-heading {
    font-size: 25px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: center;
}

.game-title {
    color: red;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

#submit-btn {
    margin-top: 8%;
}