.row {
  display: flex;
  background: #121212;
  height: 62rem;

  .heading {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    margin: 0px auto;
    display: block;
    padding-bottom: 2rem;
  }

  .accuracyValue {
    color: #ffffff;
  }
  .col1 {
    width: 70%;
    float: left;
    padding-top: 5rem;
    .type-text {
      padding: 0;
      margin: 0;
    }
    #text {
      margin: 10rem 10rem 10rem;
      text-align: left;
      color: #b24592;
      padding: 3rem 1rem 1rem;
      width: auto;
    }
  }
  .col2 {
    width: 30%;
    height: 62rem;
    margin-left:1rem;
    text-align: center;
    font-size: 2rem;
    float: right;
    background: #b24592;
    background: -webkit-linear-gradient(to right, #f15f79, #b24592);
    background: linear-gradient(to right, #66fcf1, #f15f79);
  }
}
.widgets {
  height: 20rem;
  margin-left:1rem;
  box-shadow: 0px 20px 40px #66fcf1;
}
.progressBar {
  float: right;
  padding-right: 5rem;
  padding-top: 2rem;
}
.typing-arena {
  background: #121212;
  margin-left:1rem;
  background-blend-mode: luminosity;
  overflow: hidden;
  text-align: center;
  padding-bottom: 2rem;
  box-shadow: 0px 15px 40px #f15f79;
  // border: 2px solid #ffffff;
  height: 25rem;
}

.timerWidget {
  float: left;
  padding-left: 5rem;
  padding-top: 2rem;
}

label {
  padding-right: 10px;
  color: #ffffff;
  font-size: 2rem;
}

.counterValue {
  text-align: center;
}

svg {
  align-self: center;
  height: 12rem;
  width: 12rem;
  transform: rotate(-90deg);
}
text {
  transform: rotate(90deg);
}

.switchTextbtn {
  background-color: #66fcf1;
  border-radius: 50px;
  box-shadow: darkblue;
  color: #121212;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: 0;
  font-size: 16px;
}

main {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

@keyframes spin {
  0% {
    stroke-dashoffset: 126;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
