<div class="row">
  <div class="col1">
    <div class="type-text">
      <button class="timer" id="timer" type="button" (click)="timer()">10</button>
      <label for="accuracy-label">Accuracy</label>
      <progress id="accuracy" max="100" value="100"></progress>
      <ul id="text"> </ul>
      <main>
        <typer-cell *ngFor="let val of cells; let i = index; trackBy: trackByItems" [value]="val">
        </typer-cell>
      </main>
    </div>
  </div>
  <div class="col2">
    <app-leaderboard></app-leaderboard>
  </div>
</div>