.row {
  display: flex;
  background: #121212;
  height: 100rem;

  .heading {
    text-align: center;
    color:#ffffff;
    font-size: 3rem;
    margin:0px auto;
    display :block;
    padding-bottom:1vh;
  }
  .col1 {
    width: 70%;
    float: left;
    padding: 10%;
    .type-text {
      padding: 0;
      margin: 0;

      #text {
        margin: 10vh 10vw 10vh;
        text-align: left;
        color: #b24592;
        padding: 3vh 1vw 1vh;
        height: 5vh;
        width: auto;
      }
    }
  }
  .col2 {
    width: 30%;
    height: 100rem;
    text-align: center;
    font-size: 2rem;
    float: right;
    background: #b24592;
    background: -webkit-linear-gradient(to right, #f15f79, #b24592);
    // background: linear-gradient(to right, #f15f79, #b24592);
    background: linear-gradient(to right, #66fcf1, #f15f79)
  }
}
.widgets {
  height: 30vh;
  box-shadow: 0px 15px 40px #66fcf1;
}
.progressBar {
  float: right;
  padding: 5vh 5vw 5vh;
}
.typing-arena {
  background: #121212;
  background-blend-mode: luminosity;
  box-sizing: border-box;
  padding-left:3vw;
  overflow: hidden;
  box-shadow: 0px 15px 40px #f15f79;
  // border: 2px solid #ffffff;
  height:50vh;
}

.timerWidget {
  float: left;
  padding-left:5vw;
  padding-top:2vh;
}

label {
  padding-right: 10px;
  color: #ffffff;
  font-size: 2rem;
}

.counterValue {
  text-align: center;
}

//Timer

svg {
  align-self: center;
  height: 20vh;
  width: 20vh;
  transform: rotate(-90deg);
}
text {
  transform: rotate(90deg);
}
circle {
  // animation: spin 60s linear forwards;
}


 .switchTextbtn {
   background-color: #66fcf1;
   border-radius: 50px;
   box-shadow: darkblue;
   color: #121212;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  margin:0 auto;
  display:block;
  border: 0;
   font-size: 16px;
}

// main {
// margin: 5vh 2vw 3vh;
// }


@keyframes spin {
  0% {
    stroke-dashoffset: 126;
  }
  100% {
    stroke-dashoffset: 0;
  }
}



