<div class="topnav">
  <div class="brand-logo">
      <img
      src="../assets/brand.ico"
      alt="Typer Pro logo"
      height="60px"
      width="130px"
    />

  </div>

  <div class="navbar-menu">
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a
      routerLinkActive="active"
      routerLink="/game">Games</a>
     <a routerLink="/beat-self">Beat Self</a>

    <a routerLinkActive="active" routerLink="/typer-practice">Practice</a>
  </div>
</div>
<router-outlet></router-outlet>
