<div class="topnav">
  <div class="brand-logo">
    <a routerLinkActive="active" routerLink="/home">
      <img
        src="../assets/brand.ico"
        alt="Typer Pro logo"
        height="60px"
        width="130px"
    /></a>
  </div>

  <div class="navbar-menu">
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" routerLink="/game">Ghost</a>
    <a routerLink="/beat-self">Multiplayer</a>

    <a routerLinkActive="active" routerLink="/typer-practice">Practice</a>
  </div>
</div>
<router-outlet></router-outlet>
