.topnav {
    background-color: rgb(251, 253, 255);
    overflow: hidden;
    height: 5rem;
    padding-right: 4rem;
    padding-left: 20rem;
    background: linear-gradient(92.04deg,#4560F5 24.18%,#1c47b4 50.95%,#1b1ba7 110.32%);
    box-shadow: 0 4px 8px 0 hsl(0deg 0% 7% / 50%);
    border:  #3498db;
  }  

  .brand-logo {
    height: 6rem;
    float:left;
    margin-top: 0.7rem;
  }

  .navbar-menu {
    margin-right:3rem;
    float :right;
    display: flex;
  }

  .navbar-menu a {
    color: #fff;
    text-align: center;
    margin-top: 2rem;
    margin-right: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  //title 
  .navbar-menu p {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
  }

  /* Change the color of links on hover */
  .navbar-menu a:hover {
    color: rgb(78, 205, 255);
  }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}