<div class="topnav">
    <a routerLinkActive="active" routerLink="/home">Home</a>
    <a routerLinkActive="active" (click)="openDropDown()" (pointerleave)="closeDropDown()">
        <label>Games</label>
        <div id="myDropdown" class="dropdown-content">
            <a routerLink="/game-one">Race</a>
            <a routerLink="/game-two">Ghost</a>
            <a routerLink="/game-three">Follow</a>
        </div>
    </a>
    <a routerLinkActive="active" routerLink="/typer-practice">Practice</a>
    <!-- <a routerLink="/app-login">Login</a> -->
    <br>
    <p> Typer Pro</p>
</div>
<router-outlet></router-outlet>