$percentage: 100%;
$twentypixel: 20px;

#bg {
  display: flex;
  width: $percentage;
  height: $percentage;
  background-image: url("../../../../assets/game-ghost-bg.avif");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-color: rgb(16, 127, 192);
}

//ghost-leading-animation
.shadow {
  height: $percentage;
  width: $percentage;
  animation: ghost-blinker 6s linear infinite;
  background-color: rgba(255, 0, 0, 0.153);
}

@keyframes ghost-blinker {
  50% {
    background-color: rgba(255, 0, 0, 0.642);
  }
}
//end-ghost-leading-animation

#main-container {
  width: 70%;
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  // position: relative;
  //z-index: 1;
}

#description {
  font-size: 30px;
    margin-top: 4rem;
  }

#top-section {
  display: flex;
  justify-content: space-between;
}

#difficulty-container {
  width: 20%;
  display: block;
  text-align: center;
}

.btnGroup-unit {
  padding: 4px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 400;
  width: 80%;
  color: white;
  border-radius: 4px;
  justify-content: center;
  outline: none;

  &:hover {
    box-shadow: 0 0 15px 0 greenyellow inset, 0 0 15px 4px greenyellow;
    width: $percentage;
    color: white;
  }
}

.active1 {
  width: $percentage;
  box-shadow: 0 0 15px 0 greenyellow inset, 0 0 15px 4px greenyellow;
}

#easy-btn {
  background: linear-gradient(to bottom, #73ff08, #0e5e05);
}

#medium-btn {
  background: linear-gradient(to bottom, #ff6308, black);
}

#hard-btn {
  background: linear-gradient(to bottom, #ff0808, black);
}

#extreme-btn {
  background: linear-gradient(to bottom, #500404, black);
}

.card {
  background-color: rgb(255, 248, 248);
  width: 4rem;
  height: 3rem;
  padding: 2%;
  border-radius: 9px;
}

#description {
  margin-top: 5rem;
  font-weight: bold;
}
#difficulty-title {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

#typer-container {
  background-color: rgb(177, 218, 253);
  border-radius: 8px;
  padding: 6%;
}

#start-toaster {
  animation: blinker 3s linear infinite;
  background-color: transparent;
  border-radius: 8px;
  font-size: 2rem;
  font-style: italic;
  color: aqua;
}

#game-start-dash {
  display: flex;
}

#abort-btn {
  font-size: 0.8rem;
  padding: 6px;
  font-size: 1.5rem;
  margin-left: 3rem;
  background-color: #f1305d;
  border-radius: 8px;
  box-shadow: 0 0 40px 40px #db346c inset, 0 0 0 0 #f1305d;
  transition: all 150ms ease-in-out;
  color: antiquewhite;
}

@keyframes blinker {
  90% {
    opacity: 0.8;
  }
}

#progress-status {
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 1%;
  width: fit-content;
  font-size: 2rem;
  display: flex;
}



#ahead {
  height: $twentypixel;
  width: $twentypixel;
  background-color: green;
}

#behind {
  height: $twentypixel;
  width: $twentypixel;
  background-color: rgb(197, 31, 31);
}

#typer {
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: 10px;
}

@media screen and (min-width: 965px) and (max-width: 1779px) {
  #difficulty-title {
    font-size: 0.9rem;
  }
  #description {
    font-size: 22px;
      margin-top: 8rem;
    }

    #difficulty-container {
      width: 50%;
    }

  }

  /* For Tablets */
@media screen and (min-width: 540px) and (max-width: 964px) {

  #description {
    font-size: 18px;
      margin-top: 8rem;
      color: white;
      margin-right: 3rem;
    }

    #difficulty-container {
      width: 50%;
    }
  #typer-container {
    margin-top: 3rem;
  }
  #top-section {
    margin-top: 3rem;
  }
}

