<div id="bg">
  <div [ngClass]="isGhostLeading?'shadow':null">
  <div id="main-container">
    <section id="top-section">
        <p class="heading2" id="description">
          "It is time to beat the ghost!, The blue pointer is played by a ghost!"
        </p>
      <div id="difficulty-container">
        <p id="difficulty-title">Select your difficulty</p>
          <button id="easy-btn" class="btnGroup-unit" type="button"  (click)="setDifficulty('easy-btn')">EASY</button>
          <button id="medium-btn" class="btnGroup-unit" type="button" (click)="setDifficulty('medium-btn')">MEDIUM</button>
          <button id="hard-btn" class="btnGroup-unit" type="button" (click)="setDifficulty('hard-btn')">HARD</button>
          <button id="extreme-btn" class="btnGroup-unit" type="button" (click)="setDifficulty('extreme-btn')">EXTREME</button>
        </div>
    </section>

    <!-- below -->
    <div *ngIf="!hasStartedTyping; else elseBlock" id="start-toaster">
      Begin typing to start the game!
    </div>
    <ng-template #elseBlock>
      <section id="game-start-dash">
    
        <div id="progress-status" *ngIf="index > ghostIndex; else elseBehind">
          <div id="ahead"></div>
          <div>&nbsp;</div>
          <div>You are ahead by</div>
          <div>&nbsp;</div>
  
          <div>{{ index - ghostIndex }}</div>
          <div>&nbsp;</div>
  
          <div>letters !</div>
        </div>
        <ng-template #elseBehind>
          <div id="progress-status">
            <div id="behind"></div>
            <div>&nbsp;</div>
            <div>You are behind by</div>
            <div>&nbsp;</div>
  
            <div>{{ ghostIndex - index }}</div>
            <div>&nbsp;</div>
  
            <div>letters</div>
          </div>
        </ng-template>
        <button id="abort-btn" type="button" (click)="abort()" >
          Start Again
        </button>
      </section>  
    </ng-template>
    
    <span style="display: block; height: 20px"></span>
    <section id="typer-container">
      <game-two-unit id="typer"
        *ngFor="let val of gameTwoUnits; let i = index; trackBy: trackByItems"
        [value]="val"
      >
      </game-two-unit>
    </section>
  </div>
  </div>
</div>
