.card {
    position: relative;
    height: 5vh;
    display: flex;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    transition: opacity 0.2s ease, box-shadow 0.2s ease;
    opacity: 1;
    margin: 10px;
    background-color: whitesmoke;
  }
