/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-dialog-container {
    background-color: rgba(249, 252, 255, 0.982) !important;
    border: 2px solid rgb(170, 213, 129) !important;
    border-radius: 1 rem !important;
 }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
