<div class="row">
  <div class="col1">
    <section class="widgets">
      <div class="timerWidget">
        <svg viewBox="0 0 42 42">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop
                offset="0%"
                style="stop-color: rgb(220, 220, 220); stop-opacity: 1"
              />
              <stop
                offset="100%"
                style="stop-color: rgb(3, 248, 252); stop-opacity: 1"
              />
            </linearGradient>
          </defs>

          <circle
            r="20"
            cx="21"
            cy="21"
            fill="url(#grad1)"
            stroke="grey"
            stroke-width="2px"
            stroke-dasharray="126"
            stroke-linecap="round"
          ></circle>
          <text class="counterValue" y="-15px" x="13px" fill="grey">60</text>
        </svg>
      </div>
      <!-- <label for="timer-label">30 sec</label>
      <progress id="timer" max="30" value="30"></progress> -->
      <label for="accuracy-label">Accuracy</label>
      <progress id="accuracy" max="100" value="100"></progress>
      <div class="accuracyValue">{{this.accuracyVal}}</div>
    </section>
    <div class="type-text">
      <app-typer [data]="cells"></app-typer>
      </div>
      <div>
        <button class="change" id="change" type="button" (click)="changeTyper()">
          Change Text
        </button>
    </div>
    <div class="feedback">
      <h3>Turtle?</h3>
          <p>3 good things to know</p>
          <ol>
            <li>Start to use all fingers</li>
            <li>Type many notes & know suiting hand position</li>
            <li>Gradualy you will get to type words without looking!</li>
          </ol>
        </div>
  </div>

  <div class="col2">
    <app-leaderboard></app-leaderboard>
  </div>
</div>
