.cell-blink {
    animation: blinker 1.2s linear infinite;
    color: rgb(54, 214, 102);
    font-size: xx-large;
  }
  
  @keyframes blinker {  
    50% { opacity: 0.3; }
  }

  .cell-undone {
    color: white;
    font-size: 2rem;

  }

  .cell-done {
    color: rgb(126, 124, 124);
    font-size: 2rem;
  }