.cell-blink {
    animation: blinker 1.2s linear infinite;
    color: white;
    font-size: xx-large;

  }
  
  @keyframes blinker {  
    50% { opacity: 0.3; }
  }

  .cell-undone {
    color: white;
    font-size: x-large;

  }

  .cell-done {
    color: white;
    font-size: x-large;
  }